{% extends 'sidemenu.html.jinja' %}

{% block meta %}
<meta name="description" content="Toast: Share life's moments with friends and family.">
{% endblock %}

{% block styles %}
{{ super() }}
<link href="styles/mainBackground.css" rel="stylesheet" type="text/css" />
<link href="styles/mainTopbar.css" rel="stylesheet" type="text/css" />
<link href="styles/mainPosts.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block preloads %}
<link rel="preload" href="/get_posts/home" as="fetch" type="application/json" crossorigin="anonymous" />
{% endblock %}

{% block home %}
<img class="side-menu navigation home image bw-icon" alt="home icon" width="35" height="35"
    src="/public/home_selected.png">
<p class="side-menu navigation home text"><strong>Home</strong></p>
{% endblock %}

{% block content %}
{# <div class="search-bar" id="search-bar">
    <p>Search</p>
</div> #}
<div class="search" id="search">
<input id="search-bar" placeholder="Search">
<div id="search-results" class="hidden"></div>
</div>

<div class="posts" id="posts">
</div>
{% endblock %}

{% block headScripts %}
<script src="/scripts/generatePost.js"></script>
<script src="/scripts/formatNumbers.js"></script>
<script src="/scripts/toast.js"></script>
{% endblock %}

{% block bodyScripts%}
{{ super() }}
<script src="home.js"></script>
<script src="search.js"></script>
{% endblock %}