{% extends 'sidemenu.html.jinja' %}

{% block styles %}
{{ super() }}
<link href="styles/mainBackground.css" rel="stylesheet" type="text/css" />
<link href="styles/mainTopbar.css" rel="stylesheet" type="text/css" />
<link href="styles/mainPosts.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block preloads %}
<link rel="preload" href="/get_posts/home" as="fetch" type="application/json" crossorigin="anonymous">
{% endblock %}

{% block home %} src="/public/home selected.png" {% endblock %}

{% block content %}
<div class="search-bar" id="search-bar">
    <p>Search</p>
</div>

<div class="posts" id="posts">
</div>
{% endblock %}

{% block headScripts %}
<script src="/scripts/generatePost.js"></script>
<script src="/scripts/formatNumbers.js"></script>
{% endblock %}

{% block bodyScripts%}
{{ super() }}
<script src="home.js"></script>
{% endblock %}