{% extends "sidemenu.html.jinja" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="settings.css">
{% endblock %}

{% block headScripts %}
<script src="/config/hanko.js"></script>
{% endblock %}

{% block content %}
<h1>Settings</h1>
<!-- <h2>Profile</h2> -->
<!-- to be added -->
<h2>Account login</h2>
<div>
    <hanko-profile />
</div>
<button id="logout-link">Logout</button>
{% endblock %}

{% block bodyScripts %}
{{ super() }}
<script type="module">
    import { register } from 'https://esm.run/@teamhanko/hanko-elements';

    const { hanko } = await register(hanko_config.url);

    if (!hanko.session.isValid()) {
        document.location.href = "/login?redirect_url=/settings"
    }

    document.getElementById("logout-link")
        .addEventListener("click", (event) => {
            //delete session cookie, make a request to /hanko/logout and run hanko.user.logout()
            fetch('/hanko/logout')
                .then(response => {
                    if (response.ok) {
                        console.log("Logout successful");
                    }
                })
                .catch(error => {
                    console.error(error);
                })
            hanko.user.logout();
        });

    hanko.onUserLoggedOut(() => {
        // successfully logged out, redirect to a page in your application
        document.location.href = "/"
    })
</script>
{% endblock %}

{% block settings %}
<img class="side-menu navigation settings image bw-icon" alt="settings icon" width="35px" height="35px"
    src="/public/settings selected.png">
<p class="side-menu navigation settings text"><strong>Settings</strong></p>
{% endblock %}