{% extends 'sidemenu.html.jinja' %}

{% block title %}
View post
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/styles/mainPosts.css">
<link rel="stylesheet" href="post.css">
{% endblock %}

{% block content %}
<div id="posts"></div>
{% endblock %}

{% block headScripts %}
<script src="/scripts/formatNumbers.js"></script>
<script src="/scripts/generatePost.js"></script>
{% endblock %}

{% block bodyScripts %}
{{ super() }}
<script src="getPost.js"></script>
{% endblock %}
