<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>{% block title %}Welcome to toast{% endblock %}</title> 
    {% block styles %}{% endblock %}

    <meta name="color-scheme" content="light dark" />
    <link href="/styles/darkmode.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coming+Soon">
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>