<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{% block title %}Welcome to toast{% endblock %}</title>
    {% block meta %}{% endblock %}

    <link rel="stylesheet" href="/styles/globalDefaults.css">
    {% block styles %}
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block preloads %}{% endblock %}

    <meta name="color-scheme" content="light dark" />
    <link rel="manifest" href="manifest.json" />
    <link href="/styles/darkmode.css" rel="stylesheet" type="text/css" />
    <link href="/styles/ComingSoon.css" rel="stylesheet" type="text/css" />
</head>

<body>
    {% block body %}{% endblock %}

    {% block bodyScripts %}{% endblock %}
</body>
</html>