{% extends 'base.html.jinja' %}

{% block styles %}
<link href="/styles/mainSidebar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div class="side-menu" id="side-menu">
    <div class="side-menu title" id="website-name">
        <img class="side-menu title" id="website-name-image" src="/public/Website Name.png" width="117px">
    </div>

    <div class="side-menu navigation" id="side-menu-navigation">

        <a class="side-menu navigation button link home" href="#home">
            <div class="side-menu navigation container button home" id="home">
                <img class="side-menu navigation home image bw-icon" alt="home icon" width="35px" height="35px" 
                {% block home %} src="/public/home unselected.png" {% endblock %}>
                <p class="side-menu navigation home text">Home</p>
            </div>
        </a>

        <a class="side-menu navigation button link friends" href="#friends">
            <div class="side-menu navigation container button friends" id="friends">
                <img class="side-menu navigation friends image bw-icon" alt="friends icon" width="35px" height="35px" 
                {% block friends %} src="/public/friends unselected.png" {% endblock %}>
                <p class="side-menu navigation friends text">Friends</p>
            </div>
        </a>

        <a class="side-menu navigation button link notifs" href="#notifs">
            <div class="side-menu navigation container button notifs" id="notifs">
                <img class="side-menu navigation notifs image bw-icon" alt="notifs icon" width="35px" height="35px" 
                {% block notifs %} src="/public/notif unselected.png" {% endblock %}>
                <p class="side-menu navigation notifs text">Notifs</p>
            </div>
        </a>

        <a class="side-menu navigation button link archive" href="#archive">
            <div class="side-menu navigation container button archive" id="archive">
                <img class="side-menu navigation archive image bw-icon" alt="archive icon" width="35px" height="35px" 
                {% block archive %} src="/public/archive unselected.png" {% endblock %}>
                <p class="side-menu navigation archive text">Archive</p>
            </div>
        </a>

        <a class="side-menu navigation button link settings" href="#settings" id="settings">
            <div class="side-menu navigation container button settings">
                <img class="side-menu navigation settings image bw-icon" alt="settings icon" width="35px" height="35px"
                    {% block settings %} src="/public/settings unselected.png" {% endblock %}>
                <p class="side-menu navigation settings text">Settings</p>
            </div>
        </a>

    </div>
</div>

<div id="main">
    {% block content %} {% endblock %}
</div>
{% endblock %}