#search-bar {
    display: flex;
    position: relative;
    margin: auto;
    width: 50rem;
    height: 3rem;
    border: 1px solid lightgray;
    text-align: center;
}

#search-bar p {
    font-size:larger;
    margin: auto;
    vertical-align: middle;
    /* margin-top: 0.7em; */
    color: gray;
}