#search-bar {
    display: block;
    position: relative;
    /* border-top: 10px; */
    /* margin-left: 12rem; */
    margin: auto;
    width: 50rem;
    height: 3rem;
    border: 1px solid lightgray;
    text-align: center
}

#search-bar p {
    margin: auto;
    font-size:larger;
    color: gray;
}