html, body {
    margin: 0;
    padding: 0;
}

#side-menu {
    border-right: 1px solid;
    width: 18rem;
    height: 100vh;
    border-spacing: 0 0;
    display: block;
    position: fixed;
    float: left;
    top: 0;
}/*entire side menu*/

#side-menu>div.side-menu.navigation>a.side-menu.navigation.button.link {
    color: inherit;
    text-decoration: none;
}/*unhighlight navigation links*/

#website-name {
    display: block;
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    left: 3rem;
}/*position website name*/

div.side-menu.navigation {
/* div#side-menu-navigation { */
    display: block;
    position: relative;
    left: 3rem;
    /* top: 125px; */
    width: auto;
    /* border: 1px solid; */
}/*position links away from corner*/

div.side-menu.navigation.container {
    display: flex;
    /* position: relative; */
    top: 0rem;
    left: 0rem;
    height: 3.5rem;
    width: 12.5rem;
}

.side-menu.navigation.button {
    position: relative;
    display: flex;
    align-items: center;
}

.side-menu.navigation.text {
    position: absolute;
    left: 3rem;
}

#settings {
    position: relative;
    bottom: 0px;
}

p.side-menu.navigation.text {
    font-size: large;
}

#main { 
    margin-left: 20rem;
}