/* p {margin: 0px;} */

#posts {
    position: relative;
    margin: auto;
    margin-top: 1.25rem;
    /* margin-left: 12rem; */
    left: 0px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid orange; */
    max-width: 50rem;
    width: fit-content;
    word-wrap: break-word;
} /*set width of entire posts list */

div {
    z-index: auto;
    min-height: 5px;
    min-width: 5px;
}

div.posts.post.container {
    /* margin-top: 1.5rem; */
    margin: 0.5rem;
    margin-left: 1.5rem;
}

div.post.posts {
    /* border: 1px solid; */
    position: relative;
    /* display: flex; */
}

div.post.posts.single {
    border: 1px solid black;
    position: relative;
    display: inline-block;
    /* padding-bottom: 2.5rem; */
    margin-bottom: 1rem;
}


div.posts.post.user.container{
    /* left: 25px;
    top: 25px; */
    display: flex;
} /*move username and context to right of pfp and put them on the same line*/

div.posts.post.user.details{
    display: inline-grid;
    margin-left: 1rem;
    /* top: -25px; */
    /* width: 25rem; */
    /* height: 65px; */
    grid-auto-rows: 1.9rem;
    vertical-align: middle;
} /*move username and context to right of pfp and put them on the same line*/

p.posts.post.user.details{
    /* vertical-align: middle; */
    align-self: center;
    font-size: 20px;
}

/* div.posts.post.user.container {
    display: flex;
    /* position: absolute; *
} get image inline with user info */

div.posts.post.user.container {
    display: flex;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 48rem;
} /*move profile down and right*/

/* p.posts.post.user.details{
    position: relative;
    display: block;
    height: 30px;
} */

p.posts.post.user.details.context{
    color: #666;
} /*make context grey*/

/* .posts.post.user.details {
    display: block;
} */

img.post.pfp {
    display: inline;
    position: relative;
    border: 1px solid;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    /* height: 50px;
    width: 50px; */
    /* top: 5px; */
    /* left: 25px; */
} /*profile pictures*/

div.posts.post.user.border {
    top: 0px;
    left: 0px;
    height: 2.5rem;
    width: 2.5rem;
    /* border: 5px solid pink; */
    padding: 0.25rem;
    border-radius: 50%;
    display: inline-flex;
}

div.posts.post.user.border.public {border: 0.25rem solid #31B1EA;}
div.posts.post.user.border.onlyFriends {border: 0.25rem solid purple;}
div.posts.post.user.border.private {border: 0.25rem solid yellow;}

div.posts.post.title.container {
    display: block;
    position: relative;
    /* margin-top: 1.5rem;
    margin-left: 1.5rem; */
    font-size: 27px;
} /*post contents/title*/

p.posts.post.title.text {
    font-family: 'Coming Soon', serif;
    font-size: 27px;
    margin: 0px;
    /* margin-left: 0px; */
    /* width: 870px; */
}


div.posts.post.actions.container {
    display: block flex;
    position: relative;
    text-align: center;
    margin-bottom: 1em;
    /* left: 25px; */
    /* place-self: center; */
}

div.posts.post.actions {
    display: inline-flex;
    height: 1.75rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 1.2rem;
    /* left: 25px; */
}

img.posts.post.actions.image {
    display: inline;
    position: relative;
    /* margin-right: 3px; */
    width: 1.75rem;
    height: 1.75rem;
}

p.posts.post.actions.text {
    display: inline;
    position: relative;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0.25em;
    vertical-align: middle;
    top: 0.2rem;
    /* text-align: center; */
    /* width: 30px; */
}

/* .posts.post.actions {
    margin-right: 10px;
} */

/* div.posts.post.content.container {
    margin-right: 30px;
} */

.posts.post.content.container::before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    background:linear-gradient(transparent 10rem, white);
}

p.posts.post.content.text {
    font-family: 'Coming Soon', serif;
    font-size: 20px;
    max-width: 47rem;
    max-height: 20em;
    overflow-wrap: break-word;
    overflow: hidden;
    /* margin-right: 30px; */
}

img.posts.post.media.image {
    height: 47rem;
    width: 47rem;
    /* margin-bottom: 0.25rem; */
    margin-bottom: 0rem;
}

p.posts.post.media.caption {
    position: absolute;
    bottom: 0.25rem;
    margin: 0rem;
    padding: 0 0.5rem;
    font-family: 'Coming Soon', serif;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ffffff;
    background-color: rgba(55, 55, 55, 0.7);
    height: 3rem;
    line-height: 3rem;
    width: 46rem;

}

div.posts.post.menu {
    margin-left: auto;
}

img.posts.post.menu {
    width: 24px;
    height: 24px;
}