#search-bar {
    position: relative;
    /* border-top: 10px; */
    left: 250px;
    display: inline-flex;
    width: 920px;
    height: 50px;
    border: 1px solid lightgray;
    text-align: center
}

#search-bar p {
    margin: auto;
    font-size:larger;
    color: gray;
}