{% extends 'sidemenu.html.jinja' %}

{% block title %}
View user
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="profile.css">
<link rel="stylesheet" href="/styles/mainPosts.css">
{% endblock %}

{% block content %}
<h1 id="loading">
    <div id="message" class="centered">
        Loading...
    </div>
</h1>

<div id="profile">
    <div id="profile-contents">
        <div id="profile-picture-box">
            <img id="profile-picture" class="profile user pfp" src="/placeholder/pfp.jpg" />
        </div>

        <div id="info">
            <div class="profile info top">
                <div id="username-box">
                    <p id="username">Loading</p>
                </div>
                <div class="split-button">
                    <button class="connection buttons main-button" id="follow-button">Follow</button>
                    <button class="connection buttons dropdown-button">&#9660;</button>
                    <div class="dropdown-content">
                        <button id="friend-request" class="connection buttons">Send Friend Request</button>
                    </div>
                </div>
            </div>

            <div class="profile info connections">
                <div class="profile info connections followers">
                    <p class="profile info connections count" id="follower-count"></p>
                    <p class="profile info connections" id="follower-count">followers</p>
                </div>
                <div class="profile info connections following">
                    <p class="profile info connections count" id="following-count"></p>
                    <p class="profile info connections" id="following-count">following</p>
                </div>
            </div>

            <div class="profile info bio">
                <p class="profile info bio" id="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do
                    eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>

<div id="line"></div>

<div class="posts" id="posts">
    <div class="posts no-posts" id="no-posts">
        <p>No posts</p>
    </div>
</div>
{% endblock %}


{% block headScripts %}
<script src="/scripts/formatNumbers.js"></script>
<script src="/scripts/generatePost.js"></script>
{% endblock %}

{% block bodyScripts %}
{{ super() }}
<script src="getUser.js"></script>
{% endblock %}